.ProductModal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  pointer-events: none;
}
.ProductModal.isOpen {
  opacity: 1;
  pointer-events: auto;
}

.ProductModal .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000094;
  width: 100%;
  height: 100%;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.ProductModal.isOpen .overlay {
  opacity: 1;
}
.ProductModal .modal-body {
  min-height: 400px;
  min-width: 280px;
  max-width: 90%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.333s ease-out;
  z-index: 50;
}
.ProductModal.isOpen .modal-body {
  opacity: 1;
  transform: translateY(0);
}
.ProductModal .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.ProductModal .content button {
  border-style: none;
  font-weight: 600;
  background-color: rgb(32, 32, 32);
  color:white;
  border-radius: 3px;
  font-size: medium;
  padding: 5px;
  cursor: pointer;
  align-self: flex-start;
}
.ProductModal .modal-price-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ProductModal img {
  width: 200px; 
  height: 200px; 
  object-fit: contain;
  margin-bottom: 20px;
}
.ProductModal .info-wrapper h3 {
  font-size: 16px;
  margin-bottom: 5px;
}
.ProductModal hr {
  width: 100%;
  border: 1px solid rgb(32, 32, 32);
  margin-top: 10px;
}
.modal-price-container button {
  border-style: none;
  font-weight: 600;
  background-color: rgb(32, 32, 32);
  color:white;
  border-radius: 3px;
  font-size: medium;
  padding: 5px;
  cursor: pointer;
}
.modal-price-container #inCartBtn {
  opacity: 0.5;
}
.modal-price-container #addBtn:hover {
  background-color: rgb(56, 56, 56);
  color:white;
}
@media screen and (min-width: 620px) {
.ProductModal .modal-body {
  max-width: 520px;
  width: 90%;
  padding: 30px;
  box-sizing: border-box;
}
.ProductModal .info-wrapper {
  width: 100%;
  max-height: 200px;
  margin-bottom: 20px;
}
.ProductModal .info-wrapper p {
  font-size: 13px;
  margin-bottom: 5px;
}
}