.Cart {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.Cart-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.Cart .Cart-footer {
  text-align: left;
  padding: 10px;
}

.Cart .Cart-footer #cartsvg {
  opacity: 0.1;
}