.Modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  pointer-events: none;
  display: flex;
  align-items: center;
}
.Modal.isOpen {
  opacity: 1;
  pointer-events: auto;
}

.Modal .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000094;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.Modal.isOpen .overlay {
  opacity: 1;
}