.Body {
  background-color: whitesmoke;
  width: 100vw;
  min-height: 100vh;

  /* display: flex;
  justify-content: center; */
  /* flex-direction: column; */
}
.products-container {
  margin-top: 20px;
  display: block;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* .Body h1 {
  position: absolute;
  z-index: 1;
  top: 10vh;
} */

/* @media (min-width: 1050px) {

  .Body h1 {
    position: absolute;
    top: 15vh;
    right: 50px;
  
    z-index: 1;
    text-align: end;
  }
  .Body h2 {
    top: 25vh;
    right: 50px;
    position: absolute;
  
    z-index: 1;
    text-align: right;
    max-width: 50%;
  }
} */