.App {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  text-align: center;
  /* height: 100%; */
  width: 100vw;
}
html {
  scroll-behavior: smooth;
}
.App .Body {
  flex-grow: 1;
}
* {
  margin: 0;
  padding: 0;
}
.products-container {
  margin-top: 20px;
  display: block;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}